html{
  height: 100%;
}
body{
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden;
}

// resets the size of the image for filter example
img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/*
.blendmode{
  img{
    position: absolute;
    max-width: calc(100vw - 180px);
    max-height: calc(100vh - 180px);
  }
  img:first-of-type{
    z-index: 1;
    top:160px;
    left: 160px;
  }
}

.ball{
  background: tomato;
  border: 2px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
*/
