@import "base";

@keyframes mask {
  from{
    filter: opacity(0);
  }
}

@keyframes drop {
  from{
    transform: scale(2);
  }
  to{
    transform: scale(1);
  }

}


.node{
  display: inline-block;
  position: relative;
  width: 32%;
  animation: drop 4s ease infinite alternate;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
  animation: mask 4s ease infinite alternate;
}

.node-orange .mask{
  background: rgba(241, 94, 75, 1);
}

.node-blue .mask{
  background: rgba(25, 25, 48, 1);
}

.node-white img{
  filter: grayscale(1) contrast(.6) brightness(2);
}
