@import "base";

@keyframes drop {
  from{
    transform: scale3d(2,2,1);
  }
  to{
    transform: scale3d(1,1,1);
  }
}

@keyframes drop{
  from{
    transform: scale3d(2,2,1);
  }
  to{
    transform: scale3d(1,1,1);;
  }
}

@keyframes mask {
  from{
    filter: opacity(0);
  }
}

.node{
  display: inline-block;
  position: relative;
  width: 32%;
//  animation: drop 4s ease infinite alternate;
//  animation: drop 4s ease infinite alternate;
//  transition: all .2s ease;
}

// .node:hover{
//  transform: scale3d(2,2,1);
//  z-index: 1;
// }

// .node:hover{
//  transform: scale3d(2,2,1);
//  z-index: 1;
// }

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
//  animation: mask 4s ease infinite alternate;
}

.node-orange .mask{
  background: orangered;
}

.node-blue .mask{
  background: darkblue;
}

.node-white img{
  filter: grayscale(1) contrast(.6) brightness(2);
}
