@import "base";

@keyframes pop{
  from{
    transform: scale3d(.2,.2,1);
  }
  to{
    transform: scale3d(1,1,1);;
  }
}

img{
  width: 80%;
  margin: 10%;

  animation: pop 1s infinite;
  animation-timing-function: -bezier(0.68, -0.95, 0.165, 2)
}
