@import "base";


.blendmode img:first-of-type{
/* Darken modes =================== */
//  mix-blend-mode: multiply;
//  mix-blend-mode: darken;
//  mix-blend-mode: color-burn;

/* Lightning modes =================== */
//  mix-blend-mode: screen;
//  mix-blend-mode: lighten;
//  mix-blend-mode: color-dodge;

/* Contrast modes =================== */
//  mix-blend-mode: overlay;
//  mix-blend-mode: soft-light;
//  mix-blend-mode: hard-light;

/* Comparative modes =================== */
//  mix-blend-mode: difference;
//  mix-blend-mode: exclusion;

/* Composite modes =================== */
//  mix-blend-mode: hue;
//  mix-blend-mode: saturation;
//  mix-blend-mode: luminosity;
//  mix-blend-mode: color;
}

// Paper =====================

body{
//  background: red;
}

img.paper{
}

// Nodes =====================

.node{
  display: inline-block;
  position: relative;
  width: 32.5%;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node-white img{
  filter: grayscale(1) contrast(.6) brightness(2);
}

.node-orange .mask{
// background: rgba(241, 94, 75, 1);
}

.node-blue .mask{
// background: rgba(25, 25, 48, 1);
}
