@import "base";


.blendmode img:first-of-type{
/* Darken modes =================== */
//  mix-blend-mode: multiply;
//  mix-blend-mode: darken;
//  mix-blend-mode: color-burn;

/* Lightning modes =================== */
//  mix-blend-mode: screen;
//  mix-blend-mode: lighten;
//  mix-blend-mode: color-dodge;

/* Contrast modes =================== */
//  mix-blend-mode: overlay;
//  mix-blend-mode: soft-light;
//  mix-blend-mode: hard-light;

/* Comparative modes =================== */
//  mix-blend-mode: difference;
//  mix-blend-mode: exclusion;

/* Composite modes =================== */
//  mix-blend-mode: hue;
//  mix-blend-mode: saturation;
//  mix-blend-mode: luminosity;
//  mix-blend-mode: color;
}

body{
//  background: red;
}

img.paper{
  filter: brightness(1.3) invert(1);
  mix-blend-mode: screen;

//  filter: brightness(1.4) invert(1);
//  mix-blend-mode: screen;
}

.node{
  display: inline-block;
  position: relative;
  width: 32.5%;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
//  mix-blend-mode: color;
}

.node-white img{
  filter: grayscale(1) contrast(.6) brightness(2);
}


.node-orange .mask{
  background: orangered;
//  background: orangered;
}

.node-blue .mask{
  background: darkblue;
//  background: darkblue;
}
