@import "base";

body{
//  background: red;
}

img{
//clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%)
// clip-path: circle( 140px at 190px 190px)

// clip-path: polygon(50% 0,100% 50%, 50% 100%, 0 50%);
// clip-path: circle( 150px at 190px 190px);
// clip-path: circle(150px at 70px 90px);
// clip-path: circle();
//  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
