@import "base";

@keyframes drop{
  from{
    transform: scale3d(.2,.2,1);
  }
  to{
    transform: scale3d(1,1,1);;
  }
}

img{
  display: inline-block;
  width: 33%;
  animation: drop 4s ease infinite;
//  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
