@import "base";

img{
//  background: red;
// filter: blur(2em);
// filter: brightness(5);
// filter: contrast(0.5);
// filter: saturate(950%);
// filter: grayscale(1);
// filter: sepia(1);
// box-shadow: 0 0 10px red;
// filter: drop-shadow(16px 16px 20px blue);
// filter: hue-rotate(160deg);
// filter: invert(0.5);
// filter: opacity(.4);

// filter: brightness(.9) contrast(.8) sepia(.3);
}



.blendmode img:first-of-type{
/* Darken modes =================== */
//  mix-blend-mode: multiply;
//  mix-blend-mode: darken;
//  mix-blend-mode: color-burn;

/* Lightning modes =================== */
//  mix-blend-mode: screen;
//  mix-blend-mode: lighten;
//  mix-blend-mode: color-dodge;

/* Contrast modes =================== */
//  mix-blend-mode: overlay;
//  mix-blend-mode: soft-light;
//  mix-blend-mode: hard-light;

/* Comparative modes =================== */
//  mix-blend-mode: difference;
//  mix-blend-mode: exclusion;

/* Composite modes =================== */
//  mix-blend-mode: hue;
//  mix-blend-mode: saturation;
//  mix-blend-mode: luminosity;
//  mix-blend-mode: color;
}



body{
  background: red;
}

img.paper{
  filter: brightness(1.1) invert(1);
  mix-blend-mode: screen;
}
