#source {
  cursor: crosshair;
}

.preview {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  margin-left: 20px;

  img {
    width: 170px;
    border: solid black 1px;
  }
}

.border {
  border: solid 1px black;
}

.preview-color {
  width: 170px;
  height: 170px;
}

.preview-rgba {
  display: block;
}

.mosaic, #target {
  position: absolute;
  display: inline-block;
  overflow: hidden;
}

.node {
  position: absolute;
}

.mask{
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  mix-blend-mode: color;
}

.node-white img{
  filter: grayscale(1) contrast(.6) brightness(2);
}

.node-orange .mask{
  background: rgba(241, 94, 75, 255);
//  background: orangered;
}

.node-blue .mask{
  background: rbga(25, 25, 48, 255);
//  background: darkblue;
}

.bar {
  border-bottom: solid 1px lightgray;
  a {
    display:table-cell;
    vertical-align:middle;
    padding: 15px;
  }

  margin-bottom: 20px

}

@keyframes drop {
  from{
    transform: scale3d(2,2,1);
  }
  to{
    transform: scale3d(1,1,1);
  }
}

@keyframes mask {
  from{
    filter: opacity(0);
  }
  to{
    filter: opacity(1);
  }
}

.animate-node {
  .node {
    animation:  drop 1s ease;
    transform-origin: 50% 50%;
  }
}

.animate-mask {
  .mask {
    animation: mask 1s ease;
  }
}

.clip {
  .mask, img{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }
}

.hidden {
  visibility: hidden;
}
