html {
  height: 100%; }

body {
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

/*
.blendmode{
  img{
    position: absolute;
    max-width: calc(100vw - 180px);
    max-height: calc(100vh - 180px);
  }
  img:first-of-type{
    z-index: 1;
    top:160px;
    left: 160px;
  }
}

.ball{
  background: tomato;
  border: 2px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
*/
@-webkit-keyframes drop {
  from {
    -webkit-transform: scale3d(2, 2, 1);
            transform: scale3d(2, 2, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes drop {
  from {
    -webkit-transform: scale3d(2, 2, 1);
            transform: scale3d(2, 2, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes mask {
  from {
    -webkit-filter: opacity(0);
            filter: opacity(0); }
  to {
    -webkit-filter: opacity(1);
            filter: opacity(1); } }

@keyframes mask {
  from {
    -webkit-filter: opacity(0);
            filter: opacity(0); }
  to {
    -webkit-filter: opacity(1);
            filter: opacity(1); } }

.node {
  display: inline-block;
  position: relative;
  width: 33%;
  -webkit-animation: drop 4s ease infinite alternate;
          animation: drop 4s ease infinite alternate; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
  -webkit-animation: mask 4s ease infinite alternate;
          animation: mask 4s ease infinite alternate; }

.node-orange .mask {
  background: orangered; }

.node-blue .mask {
  background: darkblue; }

.node-white img {
  -webkit-filter: grayscale(1) contrast(0.6) brightness(2);
          filter: grayscale(1) contrast(0.6) brightness(2); }
