html {
  height: 100%; }

body {
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

.blendmode img {
  position: absolute;
  max-width: calc(100vw - 180px);
  max-height: calc(100vh - 180px); }

.blendmode img:first-of-type {
  z-index: 1;
  top: 200px;
  left: 200px; }

.blendmode img:first-of-type {
  /* Darken modes =================== */
  /* Lightning modes =================== */
  /* Contrast modes =================== */
  /* Comparative modes =================== */
  /* Composite modes =================== */ }

img.paper {
  -webkit-filter: brightness(1.3) invert(1);
          filter: brightness(1.3) invert(1);
  mix-blend-mode: screen; }

.node {
  display: inline-block;
  position: relative;
  width: 32.5%; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color; }

.node-white img {
  -webkit-filter: grayscale(1) contrast(0.6) brightness(2);
          filter: grayscale(1) contrast(0.6) brightness(2); }

.node-orange .mask {
  background: #f15e4b; }

.node-blue .mask {
  background: #191930; }
