html {
  height: 100%; }

body {
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

.blendmode img {
  position: absolute;
  max-width: calc(100vw - 180px);
  max-height: calc(100vh - 180px); }

.blendmode img:first-of-type {
  z-index: 1;
  top: 200px;
  left: 200px; }

body {
  background: red; }

img {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }
