html {
  height: 100%; }

body {
  margin: 20px;
  height: calc(100vh - 40px);
  overflow: hidden; }

img {
  max-width: 100%;
  max-height: 100%;
  display: block; }

/*
.blendmode{
  img{
    position: absolute;
    max-width: calc(100vw - 180px);
    max-height: calc(100vh - 180px);
  }
  img:first-of-type{
    z-index: 1;
    top:160px;
    left: 160px;
  }
}

.ball{
  background: tomato;
  border: 2px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
}
*/
.node {
  display: inline-block;
  position: relative;
  width: 33%; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color; }

.node-orange .mask {
  background: orangered; }

.node-blue .mask {
  background: darkblue; }

.node-white img {
  -webkit-filter: grayscale(1) contrast(0.6) brightness(2);
          filter: grayscale(1) contrast(0.6) brightness(2); }

/* Darken modes =================== */
/* Lightning modes =================== */
/* Contrast modes =================== */
/* Comparative modes =================== */
/* Composite modes =================== */
/*

body{
  background: red;
}

img.paper{
  filter: brightness(1.1) invert(1);
  mix-blend-mode: screen;
}

*/
