#source {
  cursor: crosshair; }

.preview {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  margin-left: 20px; }
  .preview img {
    height: 168px;
    border: solid black 1px; }

.border {
  border: solid 1px black; }

.preview-color {
  width: 170x;
  height: 170px; }

.preview-rgba {
  display: block; }

.mosaic, #target {
  position: absolute;
  display: inline-block;
  overflow: hidden; }

.node {
  position: absolute; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  mix-blend-mode: color; }

.node-white img {
  -webkit-filter: grayscale(1) contrast(0.6) brightness(2);
          filter: grayscale(1) contrast(0.6) brightness(2); }

.node-orange .mask {
  background: #f15e4b; }

.node-blue .mask {
  background: rbga(25, 25, 48, 255); }

.bar {
  border-bottom: solid 1px lightgray;
  margin-bottom: 20px; }
  .bar a {
    display: table-cell;
    vertical-align: middle;
    padding: 15px; }

@-webkit-keyframes drop {
  from {
    -webkit-transform: scale3d(2, 2, 1);
            transform: scale3d(2, 2, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes drop {
  from {
    -webkit-transform: scale3d(2, 2, 1);
            transform: scale3d(2, 2, 1); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes mask {
  from {
    -webkit-filter: opacity(0);
            filter: opacity(0); }
  to {
    -webkit-filter: opacity(1);
            filter: opacity(1); } }

@keyframes mask {
  from {
    -webkit-filter: opacity(0);
            filter: opacity(0); }
  to {
    -webkit-filter: opacity(1);
            filter: opacity(1); } }

.animate-node .node {
  -webkit-animation: drop 1s ease;
          animation: drop 1s ease;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

.animate-mask .mask {
  -webkit-animation: mask 1s ease;
          animation: mask 1s ease; }

.clip .mask, .clip img {
  -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); }

.hidden {
  visibility: hidden; }
